{% extends "headfoot/headfoot.html" %}

{% block content %}

  <script> 
    // myFunc = () => {
    //   let x = document.getElementById("filterPage");
    //   if(x.style.display === 'none') {
    //     x.style.display = 'block';
    //   } else {
    //     x.style.display = 'none';
    //   }
    // }
    $(document).ready(function() {
      $("button").click(function(e) {
        e.preventDefault();
        $(".basePage, .filterPage").fadeToggle();
      });
    });
  </script>

  <div class="search-filter">
    <div class="basePage"></div>
    <div class="filterPage">
      <button>X</button>
      <ul>
        <li>Make
          <select id="carBrand">
            <option value="selectBrand">Select Brand</option>
            <option value="bwm">BMW</option>
            <option value="mercedes">Mercedes-Benz</option>
            <option value="tesla">Tesla</option>    
          </select>
        </li>
        <li>Type
          <select id="carType">
            <option value="selectType">Select Type</option>
            <option value="sedan">Sedan</option>
            <option value="coupe">Coupe</option>
            <option value="sportscar">Sports Car</option>
            <option value="stationwagon">Station Wagon</option>
            <option value="hatchback">Hatchback</option>
            <option value="convertible">Convertible</option>
            <option value="suv">SUV</option>
            <option value="minivan">Minivan</option>
            <option value="pickuptruck">Pickup Truck</option>
          </select>
        </li>
        <li>Year
          <select id="carYear">
            <option value="selectYear">Select Year</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>            
          </select>
        </li>
        <li>Monthly Payment
          <select id="carPayment">
            <option value=selectPayment>Select Payment</option>
            <option value="100">$0 - $100</option>
            <option value="200">$101 - $200</option>
            <option value="300">$201 - $300 </option>
            <option value="400">$300 - $400</option>
            <option value="above">$401+</option>
          </select>
        </li>
        <li>Mileage
          <select id="carMileage">
            <option value="selectMileage">Select Mileage</option>
            <option value="10000">0 - 10,000</option>
            <option value="20000">10,000 - 20,000</option>
            <option value="30000">20,000 - 30,000 </option>
            <option value="40000">30,000 - 40,000</option>
            <option value="above">40,001+</option>
          </select>
        </li>
        <li>Features<br>
          <input type="checkbox" id="feature1" name="feature1" value="feature1">
          <label for="feature1">Feature 1</label><br>
          <input type="checkbox" id="feature2" name="feature2" value="feature2">
          <label for="feature2">Feature 2</label><br>
          <input type="checkbox" id="feature3" name="feature3" value="feature3">
          <label for="feature3">Feature 3</label><br>
        </li>
        <li>Size<br>
          <input type="checkbox" id="sizeSmall" name="sizeSmall" value="sizeSmall">
          <label for="sizeSmall">Small</label><br>
          <input type="checkbox" id="sizeMedium" name="sizeMedium" value="sizeMedium">
          <label for="sizeMedium">Medium</label><br>
          <input type="checkbox" id="sizeLarge" name="sizeLarge" value="sizeLarge">
          <label for="sizeLarge">Large</label><br>
        </li>
        <li>Exterior Color
        </li>
        <li>Interior Color
        </li>
        <li>Transmission
        </li>
        <li>Cylinders
        </li>
        <li>MPG Highway
        </li>
        <li>Status
        </li>
      </ul>
    </div>
    <button>FILTER</button>


    <!-- <div class="filter-container">
  	  <form method="GET" action=".">
        <div class="location-filter-container">
          <label for="brand">Location</label>
          <select class="city-filter">
          {%if carinstance_list %}
            <div class="city-options">
              {% for car in carinstance_list %}
                <option value="cities">{{ car.avail_city }}</option>
              {% endfor %}
            </div>
          {% endif %}
          </select>

          <select class="state-filter">
          {%if carinstance_list %}
            <div class="state-options">
            {% for car in carinstance_list %}
              <option value="states">{{ car.avail_state }}</option>
            {% endfor %}
            </div>
          {% endif %}
          </select>
         </div>

  	     <div class="brand-filter-container">
          <label for="brand">Brand</label>
  	      <select class="brand-filter">
  	      {%if carinstance_list %}
  	        <div class="brand-options">
  	        {% for car in carinstance_list %}
  	          <option value="brands">{{ car.car.brand }}</option>
  	        {% endfor %}
  	        </div>
  	      {% endif %}
          </select>
  	     </div>

         <div class="year-filter-container">
  	       <label for ="year">Year</label>
  	       <select class="year-filter">
           {%if carinstance_list %}
             <div class="year-options">
             {% for car in carinstance_list %}
               <option value="year">{{ car.car.launch_year }}</option>
             {% endfor %}
             </div>
           {% endif %}
           </select>
         </div>
         <input type="submit" name="submit" id="filterButton" value="filter">
  	  </form>
    </div> -->

    <div class="car-list-container">
      {% if carinstance_list %}
        <ul class="car-list">
        {% for car in carinstance_list %}
          <li>
            <div class="car-image">
            {% if car.image %}
              <img>{{ car.image }}
            {% else %}
              <img src="/static/testimage.png" width="100" height="100">
            {% endif %}
            </div>
            <div class="car-info">
              <a href="{% url 'car_details' %}">{{ car.car }}</a> by {{ car.car.brand }}({{ car.car.launch_year }})
              <p> Location: {{ car.avail_city}}, {{ car.avail_state }}</p>
              <p> Price: ${{ car.price }}
            </div>
          </li>
        {% endfor %}
        </ul>
      {% else %}
        <p>There are no cars to be shown.</p>
      {% endif %}
    </div>

  </div>       

{% endblock %}