{% extends "headfoot/headfoot.html" %}

{% block content %}

  <script> 
    // myFunc = () => {
    //   let x = document.getElementById("filterPage");
    //   if(x.style.display === 'none') {
    //     x.style.display = 'block';
    //   } else {
    //     x.style.display = 'none';
    //   }
    // }
    $(document).ready(function() {
      $("button").click(function(e) {
        e.preventDefault();
        $(".basePage, .filterPage").fadeToggle();
      });
    });

    // // need to fix, currently not working
    // $("#filterForm").submit(function(e) {
    //   e.preventDefault();
    //   $.ajax({ 
    //     url: $(this).attr('action'), 
    //     type: 'GET',
    //     dataType: 'json',
    //     data: $(this).serialize(), 
        
    //     success: function(response) { 
    //         $('#p1').html(response); // 
    //     }
    //   });
    // });

    window.onload = () => {
      document.getElementById('filterForm').addEventListener("submit", myFunc);
      document.getElementById('filterForm').addEventListener("submit", myFunc2);
    }

    //this function displays the filters that the user selected
    //would have to confirm if it sends request to the server, as there is event.preventDefault();
    myFunc = (event) => {
      // // if event.preventDefault(), it stops the form from sending a request to the server
      event.preventDefault();

      document.getElementById("p1").innerHTML = '';

      let a = document.getElementById("carBrand").value;
      let b = document.getElementById("carType").value;
      let c = document.getElementById("carYear").value;
      let d = document.getElementById("carPayment").value;
      let e = document.getElementById("carMileage").value;

      let carFilter = [a, b, c, d, e];

      for(let i = 0; i < carFilter.length; i++) {
        if(carFilter[i] !== 'null') {
          document.getElementById("p1").innerHTML += carFilter[i] +'<br />';
        }
      }  

      // document.getElementById("p1").innerHTML = a + '<br />' + b + '<br />' + c + '<br />' + d + '<br />' + e + '<br />';
      
      //this "submits"(sends request to server)
      // document.getElementById("filterForm").submit();
    }

    //this function closes the filter page once a user submits the form
    myFunc2 = () => {
      $(".basePage, .filterPage").fadeToggle();
    }

  </script>

  <div class="search-filter">
    <div class="basePage" id="basePage"></div>
    <div class="filterPage" id="filterPage">
      <form id="filterForm" action="#" method="GET">  
        {% csrf_token %}
        <input type="submit" id="submitFilterForm" value="submit" > 
        <button>X</button>
        <ul>
          <li>Make
            <select name="carBrand" id="carBrand">
              <option value="null"></option>
              <option value="BMW">BMW</option>
              <option value="Mercedes-Benz">Mercedes-Benz</option>
              <option value="Tesla">Tesla</option>    
            </select>
          </li>
          <li>Type
            <select name="carType" id="carType">
              <option value="null"></option>
              <option value="Sedan">Sedan</option>
              <option value="Coupe">Coupe</option>
              <option value="Sports Car">Sports Car</option>
              <option value="Station Wagon">Station Wagon</option>
              <option value="Hatchback">Hatchback</option>
              <option value="Convertible">Convertible</option>
              <option value="SUV">SUV</option>
              <option value="Minivan">Minivan</option>
              <option value="Pickup Truck">Pickup Truck</option>
            </select>
          </li>
          <li>Year
            <select name="carYear" id="carYear">
              <option value="null"></option>
              <option value="Model Year: 2020">2020</option>
              <option value="Model Year: 2019">2019</option>
              <option value="Model Year: 2018">2018</option>
              <option value="Model Year: 2017">2017</option>
              <option value="Model Year: 2016">2016</option>
              <option value="Model Year: 2015">2015</option>
              <option value="Model Year: 2014">2014</option>
              <option value="Model Year: 2013">2013</option>
              <option value="Model Year: 2012">2012</option>
              <option value="Model Year: 2011">2011</option>
              <option value="Model Year: 2010">2010</option>            
            </select>
          </li>
          <li>Monthly Payment
            <select name="carPayment" id="carPayment">
              <option value=null></option>
              <option value="< $100">$0 - $100</option>
              <option value="$101 - $200">$101 - $200</option>
              <option value="$201 - $300">$201 - $300 </option>
              <option value="$301 - $400">$300 - $400</option>
              <option value="$401+">$401+</option>
            </select>
          </li>
          <li>Mileage
            <select name="carMileage" id="carMileage">
              <option value="null"></option>
              <option value="< 10,000">0 - 10,000</option>
              <option value="20000">10,000 - 20,000</option>
              <option value="30000">20,000 - 30,000 </option>
              <option value="40000">30,000 - 40,000</option>
              <option value="above">40,001+</option>
            </select>
          </li>
          <li>Features<br>
            <input type="checkbox" id="feature1" name="feature1" value="feature1">
            <label for="feature1">Feature 1</label><br>
            <input type="checkbox" id="feature2" name="feature2" value="feature2">
            <label for="feature2">Feature 2</label><br>
            <input type="checkbox" id="feature3" name="feature3" value="feature3">
            <label for="feature3">Feature 3</label><br>
          </li>
          <li>Size<br>
            <input type="checkbox" id="sizeSmall" name="sizeSmall" value="sizeSmall">
            <label for="sizeSmall">Small</label><br>
            <input type="checkbox" id="sizeMedium" name="sizeMedium" value="sizeMedium">
            <label for="sizeMedium">Medium</label><br>
            <input type="checkbox" id="sizeLarge" name="sizeLarge" value="sizeLarge">
            <label for="sizeLarge">Large</label><br>
          </li>
          <li>Exterior Color
          </li>
          <li>Interior Color
          </li>
          <li>Transmission
          </li>
          <li>Cylinders
          </li>
          <li>MPG Highway
          </li>
          <li>Status
          </li>
        </ul>
      </form>
    </div>
    <button>FILTER</button>

    <div class="selectedFilters">
      render chosen options here
      <p id="p1"></p>
    </div>

    <!-- <div class="filter-container">
  	  <form method="GET" action=".">
        <div class="location-filter-container">
          <label for="brand">Location</label>
          <select class="city-filter">
          {%if carinstance_list %}
            <div class="city-options">
              {% for car in carinstance_list %}
                <option value="cities">{{ car.avail_city }}</option>
              {% endfor %}
            </div>
          {% endif %}
          </select>

          <select class="state-filter">
          {%if carinstance_list %}
            <div class="state-options">
            {% for car in carinstance_list %}
              <option value="states">{{ car.avail_state }}</option>
            {% endfor %}
            </div>
          {% endif %}
          </select>
         </div>

  	     <div class="brand-filter-container">
          <label for="brand">Brand</label>
  	      <select class="brand-filter">
  	      {%if carinstance_list %}
  	        <div class="brand-options">
  	        {% for car in carinstance_list %}
  	          <option value="brands">{{ car.car.brand }}</option>
  	        {% endfor %}
  	        </div>
  	      {% endif %}
          </select>
  	     </div>

         <div class="year-filter-container">
  	       <label for ="year">Year</label>
  	       <select class="year-filter">
           {%if carinstance_list %}
             <div class="year-options">
             {% for car in carinstance_list %}
               <option value="year">{{ car.car.launch_year }}</option>
             {% endfor %}
             </div>
           {% endif %}
           </select>
         </div>
         <input type="submit" name="submit" id="filterButton" value="filter">
  	  </form>
    </div> -->

    <div class="car-list-container">
      {% if carinstance_list %}
        <ul class="car-list">
        {% for car in carinstance_list %}
          <li>
            <div class="car-image">
            {% if car.image %}
              <img>{{ car.image }}
            {% else %}
              <img src="/static/testimage.png" width="100" height="100">
            {% endif %}
            </div>
            <div class="car-info">
              <a href="{% url 'car_details' %}">{{ car.car }}</a> by {{ car.car.brand }}({{ car.car.launch_year }})
              <p> Location: {{ car.avail_city}}, {{ car.avail_state }}</p>
              <p> Price: ${{ car.price }}
            </div>
          </li>
        {% endfor %}
        </ul>
      {% else %}
        <p>There are no cars to be shown.</p>
      {% endif %}
    </div>

  </div>       

{% endblock %}