<!DOCTYPE html>
<html lang="en">




<head>
    <meta charset="UTF-8">

    <title>aa</title>
    <style>
        .heejaetable {
            color:green;
        }

    </style>

</head>

<body>
<h1>
    3 ways to embed css.<br>
    1. Inline : style attribute<br>
    2. Internal : style element in in head<br>
    3. External : external css file

</h1>

<h2>Table 1</h2>
<table style ="color:red">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Points</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
    </tr>
  </table>
</div>

<h2>Table 2</h2>
<table class = 'heejaetable'>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Points</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
    </tr>
  </table>
</div>

<h2>Table 3</h2>
<table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Points</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
    </tr>
  </table>
</div>

{{ a }}
<p>Search</p>



<div>
    <div>
    <img src='#' alt="" style="width:300px;">
        </div>
    <div>

        <p>Mercedes-Benz</p>
        <p>GLA 250 SUV</p>
    </div>
    <div>
        <p>Launch Year 2021</p>
        <p>Engine 2.0L inline-4 turbo</p>
        <p>Starting MSRP $36,230</p>
    </div>
    <div>
        <p>Lowest Price</p>
        <p>Lease</p>
        <p>New</p>
        <p>Pre-Owned</p>
    </div>


    </div>
</div>

<div>
     <ul>
        <li>
            <input type="radio" name="radio" value="value1" checked>Lease Offer
            <input type="radio" name="radio" value="value1">New Offer
            <input type="radio" name="radio" value="value1">Pre-Owned Offer
            <input type="radio" name="radio" value="value1">Details
        </li>
     </ul>
</div>

<!-- Surround the select box within a "custom-select" DIV element.
Remember to set the width: -->


<div class="custom-select" style="width:200px;">
  <label for="zipcode">Zipcode:</label>
    <input type="text" id="" name=""><br><br>
  <select>
    <option value="0">Trim Level</option>
    <option value="1">Level 1</option>
    <option value="2">Level 2</option>
    <option value="3">Level 3</option>
    <option value="4">Level 4</option>
  </select>
</div>

<!-- This will be replaced after data modeling -->
<h1>Closest Top 10 Cities Near You (Within 50 miles) </h1>
<h2>[City Name1]Los Angeles, CA</h2>
<h4>[Price Range for the First City]$349.50 ~ $400.00</h4>
<h2>Irvine, CA</h2>
<h4>$366.20 ~ $580.00</h4>
<h2>Santa Barbara, CA</h2>
<h4>$349.50 ~ $400.00</h4>


</body>
