{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">

    <title>aa</title>


    {% load static %}
    <link rel="stylesheet" href="{% static 'detail.css' %}" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arial' rel='stylesheet'>
    <link href="{{ STATIC_URL }}/bootstrap-4.0.0-dist/bootstrap.css">
<style>
    h1.search-text
    {
        position: absolute;
        width: 16px;
        height: 16px;
        left: 1278px;
        top: 77px;
        border: 2px solid #000000;
        box-sizing: border-box;
    }
    h2.search-underbar
    {
        position: absolute;
        width: 200px;
        height: 0px;
        left: 1100px;
        top: 99px;
        border: 2px solid #000000;
    }
</style>

</head>



{{ a }}
<!-- this is creating search icon -->

<h1 class="search-text">SEARCH</h1>
{% comment %}Search underbar{% endcomment %}
<h2 class = "search-underbar"></h2>
{% comment %}search icon{% endcomment %}
<h3 class="search-icon"></h3>


<h4></h4>


<h5>
    Mercedes-Benz<br>
</h5>

<h6>
    GLA250 SUV<br>
</h6>

<p1 style ="position: absolute;
width: 167px;
height: 140px;
left: 877px;
top: 450px;

font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;">
      <br>Launch Year</br>
      <br>Engine</br>
      <br>Starting MSRP</br>
</p1>

<p2 style = "position: absolute;
width: 192px;
height: 190px;
left: 1147px;
top: 450px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;">
      <br>2021</br>
      <br>2.0L inline-4 turbo</br>
      <br>$36,32</br>
    </p2>

<div style = "position: absolute;
width: 700px;
height: 850px;
left: 76px;
top: 250px;

background: #FFFFFF;"></div>

<div class="detail-car-image">
    <img class="detail-car-image" src="{% static 'testimage.png' %}" alt="GLA250 SUV">
</div>


<div style = "
 position: absolute;
width: 432px;
height: 213px;
left: 877px;
top: 700px;
padding-left: 30px;
padding-top: 20px;
background: #DFDFDF;

font-family: Arial;
font-style: italic;
font-weight: bold;
font-size: 21px;
line-height: 30px;
/* identical to box height, or 143% */
display: flex;
align-items: first;
text-align: left;
letter-spacing: -0.015em;
">
        <p>Lowest Price</p>
</div>


<div style="position: absolute;
width: 204px;
height: 40px;
left: 873px;
top: 976px;

background: #C4C4C4;
border-radius: 4px;">
    <div>    #Mercedes </div>
</div>

<div style="position: absolute;
width: 182px;
height: 48px;
left: 873px;
top: 1032px;

background: #C4C4C4;
border-radius: 4px;">
    <div style="position:center">    #SUV </div>
</div>

<div style="position: absolute;
width: 100px;
height: 40px;
left: 1102px;
top: 976px;

background: #C4C4C4;
border-radius: 4px;">
    <div style="position:center">    #Turbo Torque </div>
</div>


<p3 style ="position: absolute;
width: 104px;
height: 102px;
left: 936px;
top: 790px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: -0.015em;"
        <br>Lease</br>
        <br>New</br>
        <br>Pre-Owned</br>
    </p3>



<div class="custom-select" style="position: absolute;
width: 100px;
height: 40px;
left: 110px;
top: 1110px;
width:200px;">
  <label for="zipcode">Zipcode:</label>
    <input type="text" id="" name=""><br><br>
  <select style="
background: #EAEAEA;">
    <option value="0">Trim Level</option>
    <option value="1">Level 1</option>
    <option value="2">Level 2</option>
    <option value="3">Level 3</option>
    <option value="4">Level 4</option>
  </select>
</div>
        <div>
            <div style = "position: absolute;
width: 160px;
height: 40px;
left: 280px;
top: 1208px;

font-family: Al Nile;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
/* identical to box height, or 133% */

letter-spacing: -0.04em;

color: #4B4907;
">Lease Offer</div>
            <div style ="position: absolute;
width: 144px;
height: 40px;
left: 520px;
top: 1208px;
font-family: Al Nile;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
/* identical to box height, or 133% */

letter-spacing: -0.04em;

color: #A09A9A;">New Offer</div>
            <div style="position: absolute;
width: 238px;
height: 40px;
left: 744px;
top: 1208px;

font-family: Al Nile;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
/* identical to box height, or 133% */

letter-spacing: -0.04em;

color: #A09A9A;">Pre-Owned Offer</div>
            <div style="position: absolute;
width: 98px;
height: 40px;
left: 1062px;
top: 1208px;

font-family: Al Nile;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
/* identical to box height, or 133% */

letter-spacing: -0.04em;

color: #A09A9A;">Details</div>
        </div>

<!-- Surround the select box within a "custom-select" DIV element.
Remember to set the width: -->


<h1 style="/* Line 3 */


position: absolute;
width: 1000px;
height: 0px;
left: 221px;
top: 1265px;

border: 1px solid #CECEC4;"></h1>




<!-- This will be replaced after data modeling -->



<div style = "position: absolute;
width: 959px;
height: 183px;
left: 238px;
top: 1571px;

background: #FFFFFF;"></div>

<h1 style="position: absolute;
width: 180px;
height: 70px;
left: 291px;
top: 1625px;

font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 70px;
/* identical to box height, or 175% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;">$349.50 ~</h1>

<h2 style = "position: absolute;
width: 200px;
height: 70px;
left: 498px;
top: 1582px;

font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 70px;
/* identical to box height, or 292% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;">Los Angeles, CA</h2>

<div style = "position: absolute;
width: 959px;
height: 183px;
left: 238px;
top: 1768px;

background: #FFFFFF;"></div>

<h3 style="position: absolute;
width: 180px;
height: 70px;
left: 291px;
top: 1822px;

font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 70px;
/* identical to box height, or 175% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;">$360.00 ~</h3>

<h4 style = "position: absolute;
width: 200px;
height: 70px;
left: 498px;
top: 1779px;

font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 70px;
/* identical to box height, or 292% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;">Los Angeles, CA</h4>

<div style = "position: absolute;
width: 959px;
height: 183px;
left: 238px;
top: 1961px;

background: #FFFFFF;"></div>

<h5 style="position: absolute;
width: 180px;
height: 70px;
left: 291px;
top: 2000px;

font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 70px;
/* identical to box height, or 175% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;">$410.00 ~</h5>

<h6 style = "position: absolute;
width: 200px;
height: 70px;
left: 498px;
top: 1960px;

font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 70px;
/* identical to box height, or 292% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;">Los Angeles, CA</h6>


</body>
{% endblock %}