{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">

    <title>aa</title>


    {% load static %}
    <link rel="stylesheet" href="{% static 'listing_detail_css/detail_1.css' %}" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arial' rel='stylesheet'>
    <link href="{% static '/bootstrap-4.0.0-dist/css/bootstrap.css' %}" rel='stylesheet'>
    <link href="{% static '/bootstrap-4.0.0-dist/css/bootstrap-grid.css' %}" rel='stylesheet'>
    <link href="{% static '/bootstrap-4.0.0-dist/css/bootstrap-reboot.css' %}" rel='stylesheet'>
<style>
    h1.search-text
    {
        border: 2px solid #000000;
        box-sizing: border-box;
    }
    h2.search-underbar
    {
        border: 2px solid #000000;
    }
</style>

</head>

<body>


{% comment %}{{ a }} {% endcomment %}
<div class="section">
    <div class="container">
<div class="row">
<div class="col-md-7 container">
    <img class="detail-car-image" src="{% static 'testimage.png' %}" alt="GLA250 SUV" style="width:688px; height:602px; padding-top: 50px">
</h5>
</div>
<div class="col-sm" style="padding-left: 50px">

<h5>Mercedes-Benz</h5>
    <h1 style="font-weight: bold;">GLA250 SUV</h1><br>
<div class="row">
<div class="col-md-5" id="year-engine-msrp" >
    Launch Year<br><br>
Engine<br><br>
Starting MSRP<br><br>
</div>
<div class="col-md-5" id="year-engine-msrp" >
    2021<br><br>
2.0L inline-4 turbo<br><br>
$36,230<br><br>
</div>

</div>
<div id="LowestPrice" class="container-fluid">

    <div class="container">
        <div class="col-lg-10">Lowest Price<br><br><h5 style="padding-left: 50px">Lease<br>New<br>Pre-Owned<br></h5>
            </div>
</div>
</div>
    <br>
    <div class="container-fluid row">
    <div class="col-sm-3" id="car-keyword-tags">
       #Mercedes </div>
        <div class ="col-sm-3" id="car-keyword-tags">
        #SUV </div>


<div class="col-sm-5" id="car-keyword-tags">#Turbo Torque</div>
</div>
    </div>
        </div>








<div class="container row custom-select" style=";">
  <p><label for="zipcode">Zipcode:</label></p>
    <input type="text" id="" name=""><br><br>
  <p><select style="background: #EAEAEA;">
    <option value="0">Trim Level</option>
    <option value="1">Level 1</option>
    <option value="2">Level 2</option>
    <option value="3">Level 3</option>
    <option value="4">Level 4</option>
  </select></p>
</div>

<div class ="row container-fluid">

    <div id="deal-options-lease" class ="col">Lease Offer</div>
    <div id="deal-options-new" class ="col">New Offer</div>
    <div id="deal-options-preowned" class ="col">Pre-Owned Offer</div>
    <div id="deal-options-details" class ="col">Details</div>
</div>
<!-- Surround the select box within a "custom-select" DIV element.
Remember to set the width: -->


<h1 style="/* Line 3 */
border: 1px solid #CECEC4;"></h1>




<!-- This will be replaced after data modeling -->




        <div class="container">
            <div>
            <h5 style="padding-left: 100px">Los Angeles, CA</h5><br>
            </div>
            <div><h1 style="font-weight: 900;">$355.50 ~</h1></div><br><br>
            <div>
            <h5 style="padding-left: 100px">Los Angeles, CA</h5><br>
            </div>
            <div><h1 style="font-weight: 900;">$355.50 ~</h1></div><br><br>
            <div>
            <h5 style="padding-left: 100px">Los Angeles, CA</h5><br>
            </div>
            <div><h1 style="font-weight: 900;">$355.50 ~</h1></div><br><br>
</div>


    </div>
</div>
</body>
{% endblock %}